{% extends "base.html" %}
{% block body %}
<div class="card-body text-center">
  {% if client["logo_uri"]|length %}
    <img class="client-logo" src="{{ client["logo_uri"] }}"></img>
  {% endif %}
  <p>Grant access permissions to <strong>{{ client["client_name"] }}</strong>.</p>
</div>
<div class="card-body">
  {% if scopes|length %}
    {% for scope in scopes %}
      <div class="scope-row">
          <label for="profile">{{ scope["description"] }} ({{ scope["value"] }})</label>
          <input type="checkbox" name="scope" id="{{ scope["name"] }}" checked>
      </div>
    {% endfor %}
  {% else %}
    <div class="scope-row">
      <p>{{ client["client_name"] }} only needs to know your username (crsid)</p>
    </div>
  {% endif %}
</div>
<div class="card-footer">
  <div class="text-right">
    <button type="submit" name="action" value="login" class="btn btn-outline-primary">Authorize</button>
    <button type="submit" name="action" value="cancel" class="btn btn-outline-secondary">Cancel</button>
  </div>
</div>
{% endblock %}
