<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% if title %}{{ title }} - {% endif %}{{ config['WLS_TITLE'] }}{% endblock %}</title>
    {# Stylesheets #}
    <link rel="stylesheet" href="https://www.srcf.net/_srcf/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.srcf.net/_srcf/srcf-bs.css">
    <style>
      {% include "oauth.css" %}
    </style>
    <link href="https://www.srcf.net/_srcf/images/favicon.ico" rel="icon" type="image/x-icon" sizes="16x16 24x24">
    <link href="https://www.srcf.net/_srcf/images/favicon.svg" rel="icon" type="image/svg+xml">
  </head>
  <body class="layout-card">
    <form method="post" class="auth-container">
      <div class="card mx-auto">
        <div class="card-body">
          <img src="https://www.srcf.net/_srcf/images/logo.svg" class="logo">
          <h5 class="logo-title">SRCF OAuth2</h5>
        </div>
        {% block body %}{% endblock %}
      </div>
    </form>

  </body>
</html>
