{% if status_code is defined %}
  {% set title = "Error " ~ status_code %}
{% else %}
  {% set title = "Error " + error %}
{% endif %}
{% extends "base.html" %}
{% block body %}
<div class="card-body">
  <h1 class="text-danger">Error{% if status_code is defined %} {{ status_code }}{% endif %}</h1>
  <p style="font-size: 1.2rem" class="text-danger">{{ error }}</h2>
  {% if error_description is defined %}
  <p>{{ error_description }}</p>
  {% endif %}
  {% if error_hint is defined %}
  <p>({{ error_hint }})</p>
  {% endif %}
</div>
{% endblock %}
