{% extends "base_card.html" %}

{% block main %}
<h3 class="card-title">Error encountered</h3>
{%- if message %}
<div class="alert alert-danger">{{ message }}</div>
{% else %}
<p>Something went wrong when trying to log you in.</p>
{%- endif %}
{% if fail -%}
<p>The web application that sent you here specified that we should not redirect back to it if authentication failed, or it may not be possible
to redirect you back to the web application, which is why you are being shown this page.</p>
{% endif -%}
{% endblock %}

{% block under %}
<div class="float-right">
  <a href="https://www.srcf.net">
    <span class="text-danger">Student-Run</span>
    <span class="text-primary">Computing Facility</span>
  </a>
</div>
{% endblock %}
