[Unit]
Description=Hydra
After=network.target

[Service]
User=hydra
Type=simple
ExecStart=/usr/local/bin/hydra serve all --config /home/hydra/.hydra.yaml --sqa-opt-out

[Install]
WantedBy=multi-user.target
